<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image" href="https://www.who.int/images/default-source/health-topics/coronavirus/corona-virus-getty.jpg?sfvrsn=217a6a68_14">
    <title>Global Pandemics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="text-white" style="background-color:black;">
    <div class="container">

        <!-- Jumbotron -->
        <div class="jumbotron text-center" style="background-image: url(https://www.who.int/images/default-source/health-topics/coronavirus/corona-virus-getty.jpg?sfvrsn=217a6a68_14); background-size: 100%; height: 100%;">
            <h1 class="display-4">Global Pandemics {{m.length}}</h1>
            <button id="corona" class="btn btn-lg text-white" style="background-color:#c1440e;">Corona</button>
            <button id="measles" class="btn btn-lg text-white" style="background-color:#c1440e;">Measles</button>
            <button id="influenza" class="btn btn-lg text-white" style="background-color:#c1440e;">Influenza</button>
            <button id="zika" class="btn btn-lg text-white" style="background-color:#c1440e;">Zika</button>
        </div>
        <p>This project compares several diseases that pose threats to global stability. This is an effort to 
            inform the public of what epidemics spread in which areas of the world as well as the comperable
            scales of said epidemics. The below map and bar chart provide quick acces to this information, and 
            below that is a table of the twenty most affected counties.
        </p>
        <p>Our data regarding COVID-19, or Corona Virus, is updated with a days delay. Also available to visualize
            is Influenza for the 2019-2020 season as of February 9, 2020 and Measles cases contracted during 2018. 
            We have also included cases of Zika contracted between its outbreak in late 2015 and July 2016.
        </p>
        <!-- News Section -->
        <div class="container">
            <h3>Virus Map</h3>
            <h6 style="color: #c1440e"></h6>
        </div>

        <div class="container">
            <div class="row">
                <!-- Left Image-->
                <div id="generateMap" class="col-lg-9 col-md-9 col-sm-9"></div>
                    <div id="map"></div>

                    <!-- Table -->
                

                <div class="col-lg-3 col-md-3 col-sm-3">
                    <h3>Bar Chart of Top 5 Countries</h3>
                    <div class="card" style="width: 400px; height: 400px">
                        <div id="bar" ></div>               
                    </div>

                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
            <div>
                    <h3>Confirmed Cases by Country </h3>
                    <div style="max-width: 450px; max-height: 150px; font-size: 15px; margin-bottom: 65px;">
                    <table id="pandemic-table" class="table table-striped">
                        <thead>
                            <tr>
                            <th class="table-head">Country</th>
                            <th class="table-head">Confirmed Cases</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </div>
                    </div>
                </div> <!-- col4 -->
            </div><!-- Row -->
        </div>
        </div><!-- Container -->

        </div><!-- Close main container -->

  </div>
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">    
        <script type="text/javascript" src="static/js/bouncemarker.js"></script>
        <script type="text/javascript" src="static/js/config.js"></script>
        <script type="text/javascript" src="static/js/logic.js"></script>
        <script type="text/javascript"> 
            
            
            // listen for disease button and call disease graph function built in the logic.js file
                // (you might want to check that the data exists first,
                // you might to clear any existing viz)
            d3.select(window).on("load", function() {
                let graphData = ({{ m.corona_json | safe }}); 
                buildChart(graphData)
            });
            d3.selectAll("#corona").on("click", function() {
                let graphData = ({{ m.corona_json | safe }}); 
                buildChart(graphData)
            })
            // listen for disease button and call disease graph function
            d3.selectAll("#measles").on("click", function() {
                let graphData = ({{ m.measles_json | safe }}); 
                buildChart(graphData)
            })
            // listen for disease button and call disease graph function
            d3.selectAll("#influenza").on("click", function() {
                let graphData = ({{ m.influenza_json | safe }});
                buildChart(graphData) 
            })
            // listen for disease button and call disease graph function
            d3.selectAll("#zika").on("click", function() {
                let graphData = ({{ m.zika_json | safe }});
                buildChart(graphData) 
            })
        
        
        </script>

</body>

</html>